{% extends 'layout.html' %}
{% load static %}

{% block page_title %} Edit Room {% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="editroom-container m-5">
        <!-- <i class="fa-solid fa-couch"></i> -->
        <h1 class="text-center" style="color: white;">Edit Room</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit" class="btn btn-light" style="color: black;">Save</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
