{% extends 'layout.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block page_title %} HEAVEN HOTEL - Profile {% endblock %}
    <style>
        body {
            background-color: #000;
            color: #fff;
        }

        .profile-card {
            background-color: #1a1a1a;
            border-radius: 15px;
            padding: 20px;
        }
    </style>
</head>
{% block content %}

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="profile-card ">
                    <div class="avatar d-flex justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            style="width: 200px; height:  200px;">
                            <path
                                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z" />
                        </svg>
                    </div>


                    {% if messages %}
                    <br>
                    <div class="alert alert-warning" role="alert">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                    <br>
                    {% endif %}



                    <div class="mb-3" style="width: 100%;">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" value="{{user.username}}" readonly>
                    </div>
                    <div class="mb-3" style="width: 100%;">
                        <label class="form-label">Firstname</label>
                        <input type="text" class="form-control" value="{{user.first_name}}" readonly>
                    </div>
                    <div class="mb-3" style="width: 100%;">
                        <label class="form-label">Lastname</label>
                        <input type="text" class="form-control" value="{{user.last_name}}" readonly>
                    </div>


                    <div style="width: 100%;">


                        <button type="button" class="btn btn-light w-100" style="color: black;"
                            onclick="window.location.href='{% url 'change_password' %}'">
                            Change password
                        </button>

                    </div>
                </div>
            </div>
        </div>

</body>
{% endblock %}

</html>